modules = ["nodejs-20"]
language = "nodejs"
run = "npm install && npm start"

[nix]
channel = "stable-24_05"
packages = ["vim-full", "nano"]

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
run = "npm install && npm start"
deploymentTarget = "cloudrun"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "QuickGPT Server"

[[workflows.workflow]]
name = "QuickGPT Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd src && node server.js"
waitForPort = 5000
