modules = ["nodejs-20"]
language = "nodejs"
run = "npm install && npm start"

[nix]
channel = "stable-24_05"
packages = ["vim-full", "nano"]

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
run = "npm install && npm start"
deploymentTarget = "cloudrun"