# .replit
modules = ["nodejs-20"]         # installe Node 20 + npm
language = "nodejs"             # précision de l'environnement
run = "npm install && node server.js"

[nix]
channel = "stable-24_05"
packages = ["vim-full", "nano", "gnupatch"]

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
run = "npm install && node server.js"
deploymentTarget = "cloudrun"
